<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>World Pit Masters</title>
    
    <meta name="title" content="World Pit Masters">
    <meta name="description" content="Experience Worlds Best Cockfights from the best Breeders.">
    <meta name="author" content="World Pit Masters">

    <meta property="og:title" content="World Pit Masters">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Experience Worlds Best Cockfights from the best Breeders.">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90a69278a2.js" crossorigin="anonymous"></script>
    <style type="text/css">
        [v-cloak]{
            display: none;
        }
        body{
            background-color: #222;
            font-family: 'Catamaran', sans-serif;
        }
        a{
            color:inherit;
        }
        .catamaran{
            font-family: 'Catamaran', sans-serif;
        }
        .wrapper{
            max-width: 400px;
            margin:30px auto;
            color:#fff;
            text-align: center;
            
        }
        h1{
            font-family: 'Catamaran', sans-serif;
            font-size: 1.5rem;
            margin-bottom: 1rem;;
        }
        .domain-item-wr{
            border-radius: 10px;
            background-color: #ffc526;
            border-color: #ffc526;
            color: #222;
            margin:0 10px 1rem;
            overflow: hidden;
            
        }
        .domain-item-wr a{
            text-decoration: none;
            display: block;
            padding-top:1px;
        }
        .domain-name{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.2rem;
            margin:.5rem 0 .25rem 0;
            
        }
        .health-check{
            background: #dcad2e;
            padding: 5px 0;
        }
        .domain-link{
            margin:0 0 .5rem;
        }
        .text-success{
            color:#0b5f1e;
        }
        .text-danger{
            color:#bd1b2b;
        }
        .disclaimer{
            line-height: 1.2rem;
            padding:0 1rem;
            margin-bottom: 1rem;
        }
        .logo{
            max-width: 70px;
            margin:0 auto 1rem;
        }
        .logo img{
            display: block;
            width: 100%;
            
        }
        .checker-wp{
            margin:0 10px;
        }
        .checker-wait{
            font-size: 1.2rem;
            margin: 1rem 0;
            line-height: 1.4rem;
        }
        .checker-status{

        }
    </style>
</head>
<body>
    <div id="app" class="wrapper">
        <div v-if="false">
            <i class="fas fa-spinner fa-spin"></i>
            Loading
        </div>
        <div  v-cloak>
            <div class="checker-wp">
                <div class="logo">
                    <img src="gp-logo.png" />
                </div>
                <div v-show="checkerIterationStatus != 2">
                    <div class="checker-wait">
                        Please wait while we are looking for the fastest server..
                    </div>
                    <div class="checker-status">
                        <span v-show="checkerIterationStatus == 0">
                            <i class="fas fa-spinner fa-spin"></i>
                        </span>
                        {{ checkerMessage }}
                    </div>
                </div>
                <div v-show="checkerIterationStatus == 2" class="checker-wait">
                    <i class="fas fa-exclamation-circle"></i> {{ checkerMessage }}
                </div>
            </div>
            <div v-if="false">
                <div class="disclaimer">
                    No available domains. Please select from the list below.
                </div>
                <div>
                    <div v-for="domain in domains" :key="domain.name"
                        class="domain-item-wr">
                        <a :href="domain.url">
                            <div class="domain-name">{{ domain.name }}</div>
                            <div class="health-check"> 
                                <div v-show="availabilityStatus(domain) == 0">
                                    <i class="fas fa-spinner fa-spin"></i>
                                    Checking link..
                                </div>
                                <div v-show="availabilityStatus(domain) == 1" class="text-success">
                                    <i class="fas fa-check"></i>
                                    Available
                                </div>
                                <div v-show="availabilityStatus(domain) == 2" class="text-danger">
                                    <i class="fas fa-times"></i>
                                    Not Available
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <script>
        window.domains = [
            {
                name: "WorldPitMasters.com",
                domain: "worldpitmasters.com",
                url: "https://worldpitmasters.com",
                redirectUrl: "",
                health_check: {
                    api: {
                        url: "https://worldpitmasters.com/health",
                        status: 0
                    },
                    static: {
                        url: "https://static3.worldpitmasters.com/health.htm",
                        status: 0
                    }
                }
            }
        ]
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                domains: [],
                axiosInstance: null,
                statusMessages: {
                    init: "Initializing",
                    prev: "Checking your previously loaded server",
                    searching: "Searching for fastest server",
                    server: "Checking server #",
                    found: "Redirecting to server..",
                    failed: "No reachable server found"
                },

                hashes: [
                    {hash: '#player', relUrl: '/platform/play'},
                    {hash: '#reseller', relUrl: '/reseller/transfer'}
                ],
                urlHash: null,

                checkerIterationStatus: 0,
                checkerMessage: '',

                storedDomain: null,
                firstAvailableDomain: null,
                localStorageKey: 'last_used_domain_wpm'
            },
            mounted(){
                this.changeStatus(this.statusMessages.init, 0);

                this.domains = window.domains;
                this.urlHash = window.location.hash;
                this.axiosInstance = axios.create({ timeout: 5000 });
                this.loadStoredDomain();
                if(this.storedDomain){
                    this.domains.unshift(this.storedDomain);
                }
                this.appendUrlBasedOnHash();
                //this.runAllHealthCheck();
                this.getFirstAvailableDomain();
            },
            methods: {
                getFirstAvailableDomain(){
                    this.firstAvailableDomain = null; //reset 
                    if(this.storedDomain){
                        this.changeStatus(this.statusMessages.prev, 0);
                    }else{
                        this.changeStatus(this.statusMessages.searching, 0);
                    }
                    

                    this.checkDomainIsAvailable(0).then((data) => {
                        this.firstAvailableDomain = this.domains[data.index];
                        this.changeStatus(this.statusMessages.found, 1);
                        this.saveDomain(this.firstAvailableDomain);
                        setTimeout(() => {
                            this.redirectToAvailableDomain();
                        }, 500);
                    }).catch(() => {
                        this.changeStatus(this.statusMessages.failed, 2);
                    })
                },
                checkDomainIsAvailable(i){
                    if(i >= this.domains.length){
                        return Promise.reject();
                    }

                    this.changeStatus(this.statusMessages.server + (i+1), 0);

                    //outer layer check api url
                    return this
                        .sendRequest(this.domains[i].health_check.api.url, i)
                        .then((data) => {
                            //inner layer check static url
                            return this.sendRequest(this.domains[data.index].health_check.static.url, data.index);

                        }).then((data) => {
                            //the available domain is found
                            return Promise.resolve(data);
                            

                        }).catch((data) => {

                            //failed, go to the next domain
                            return this.checkDomainIsAvailable(data.index+1);
                        });
                },
                changeStatus(message, statusNumber){
                    this.checkerMessage = message;
                    this.checkerIterationStatus = statusNumber;
                },
                redirectToAvailableDomain(){
                    window.location.href = this.firstAvailableDomain.redirectUrl;
                },
                loadStoredDomain(){
                    this.storedDomain = localStorage.getItem(this.localStorageKey);
                    if(this.storedDomain != null){
                        //parse and reset status
                        this.storedDomain = JSON.parse(this.storedDomain);
                        this.storedDomain.health_check.api.status = 0;
                        this.storedDomain.health_check.static.status = 0;
                    }
                },
                saveDomain(domain){
                    localStorage.setItem(this.localStorageKey, JSON.stringify(domain));
                },
                /*runAllHealthCheck(){
                    for(var i in this.domains){
                        this.runHealthCheck(i);
                    }
                },
                runHealthCheck(i){
                    this.sendRequest(this.domains[i].health_check.api.url, i).then((data) => {
                        this.domains[data.index].health_check.api.status = 1;
                    }).catch((data) => {
                        this.domains[data.index].health_check.api.status = 2;
                    });

                    this.sendRequest(this.domains[i].health_check.static.url, i).then((data) => {
                        this.domains[data.index].health_check.static.status = 1;
                    }).catch((data) => {
                        this.domains[data.index].health_check.static.status = 2;
                    });
                },*/
                sendRequest(url, index){
                    let urlWithHash = url + "?t=" + Date.now();
                    console.log("request from " + urlWithHash)
                    return this.axiosInstance.get(urlWithHash).then((response) => { 
                        return Promise.resolve({ response: response, index: index }); 
                    }).catch((exception) => {
                        return Promise.reject({ exception: exception, index: index });
                    });
                },
                availabilityStatus(domain){
                    let apiStatus = domain.health_check.api.status;
                    let staticStatus = domain.health_check.static.status;
                    if(apiStatus == 0 && staticStatus == 0){
                        return 0; //loading
                    }else if(apiStatus == 1 && staticStatus == 1){
                        return 1; //succesful
                    }else{
                        return 2;
                    }
                },
                appendUrlBasedOnHash()
                {
                    let hashesMatch = _.find(this.hashes, {hash : this.urlHash});
                
                    for(var i in this.domains){
                        if(hashesMatch != null){
                            this.domains[i].redirectUrl = this.domains[i].url + hashesMatch.relUrl;
                        }else{
                            this.domains[i].redirectUrl = this.domains[i].url;
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>
